<h1><%= title %></h1>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
  </ul>
<% } %>


<% if (flash) { %>
  <% if (flash.notice) { %>
    <ul class="notice">
      <% flash.notice.forEach(msg => { %>
        <li><%= msg %></li>
      <%  }) %>
    </ul>
  <% } %>
<% } %>
<form id="loginForm" action="/account/login" method="post">
  <div class="auth-forms">
    <fieldset>
      <label for="account_email"><b>Email Address:</b></label>
    <input type="email" id="account_email" name="account_email" required>

    <label for="account_password"><b>Password:</b></label>
    <input type="password" id="account_password" name="account_password" required>
        
    <button type="submit">Login</button>
  </fieldset>
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
    <span class="form_text">No account? <a href="./register">Sign-up</a></span>
  </div>
</form>
